aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
async-timeout==4.0.3
blinker==1.9.0
certifi==2025.7.9
charset-normalizer==3.4.2
click==8.2.1
contourpy==1.3.1
dacite==1.8.1
dataclasses-json==0.6.7
debugpy==1.8.14
distro==1.9.0
dnspython==2.7.0
exceptiongroup==1.3.0
fanstatic==1.4
Flask==3.1.1
flask-cors==6.0.1
frozenlist==1.7.0
greenlet==3.2.3
groq==0.29.0
gunicorn==23.0.0
h11==0.16.0
htmlmin==0.1.12
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.0
idna==3.10
ImageHash==4.3.1
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
joblib==1.4.2
js==1.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.65
langchain-openai==0.3.23
langchain-text-splitters==0.3.8
langsmith==0.3.45
llvmlite==0.43.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.2
multidict==6.4.4
multimethod==1.12
mypy_extensions==1.1.0
mysql-connector-python==9.2.0
networkx==3.4.2
node==1.2.2
numba==0.60.0
numpy==2.1.3
odict==1.9.0
openai==1.86.0
orjson==3.10.18
packaging==24.2
pandas==2.2.3
pandas-profiling==3.6.6
patsy==0.5.6
phik==0.12.4
plumber==1.7
propcache==0.3.2
pydantic==2.9.2
pydantic-settings==2.9.1
pydantic_core==2.23.4
pymongo==4.11
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
PyWavelets==1.7.0
redis==5.2.1
regex==2024.11.6
requests==2.32.4
requests-toolbelt==1.0.0
schedule==1.2.2
scikit-learn==1.5.2
seaborn==0.13.2
sniffio==1.3.1
SQLAlchemy==2.0.41
statsmodels==0.14.4
tenacity==9.1.2
threadpoolctl==3.5.0
tiktoken==0.9.0
tqdm==4.67.0
typeguard==4.4.1
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.5.0
visions==0.7.6
WebOb==1.8.9
Werkzeug==3.1.3
wordcloud==1.9.3
yarl==1.20.1
ydata-profiling==4.12.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.0
zope.proxy==6.1
zstandard==0.23.0
